<article>
  <h1>Sobre mí</h1>
  <section>
    <p>Llevo trabajando como desarrollador de software desde el año 2005 aproximadamente. Profesionalmente me he dedicado habitualmente al desarrollo de aplicaciones web "enterprise" utilizando tecnologías Java, con frameworks como Hibernate, Struts, Spring, Grails...</p>

    <p>Hace poco más de dos años me tropecé con Ruby y Ruby On Rails, y descubrí otra forma de desarrollar software, y el mundo de las aplicaciones "enterprise" hechas en Java comenzó a parecerme... obsoleto. Sólo me faltaba una oportunidad profesional para dar el salto, y en cuanto apareció cambié de "mundo".</p>

    <p>Soy un apasionado del desarrollo y siempre estoy intentando aprender a utilizar una nueva tecnología o encontrar una nueva forma de hacer algo de una forma mejor. Esta es mi razón de ser.</p>
  </section>

  <h1>Contacto</h1>
  <section>
    <ul>
      <li>Email: <%= image_tag 'mail.png' %></li>
      <li>Twitter: <%= link_to '@Armeris', 'http://twitter.com/Armeris', :target => "_blank" %></li>
      <li>LinkedIn: <%= link_to "Rubén Salinas", 'http://linkedin.com/in/rubensalinasgarcia', :target => "_blank" %></li>
      <li>Google+: <%= link_to 'HED', 'http://gplus.to/hed', :target => "_blank" %></li>
    </ul>
  </section>
</article>