<% if !@blog %>
  <h1 class="message">¡No hay ningún post!</h1>
<% else %>
  <div id="add_comentario">
    <%= render 'partials/form_comentario' %>
  </div>
  <div id="main_content">
    <%= render 'partials/post', :blog => @blog %>
    <%= render 'partials/comentarios', :comments => @comments %>
  </div>
  
<% end %>
  
<div class="clear"></div>

<br/>