<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Se ha enviado un cometario al post, <%= @comment.blog.title %></h1>
    <p>
      Autor: <%= @comment.author %>
    </p>
    <p>
      <%= @comment.content %>
    </p>
  </body>
</html>