<div class="container">
    

      <h1>Contacto</h1>
      <div class="span4 offset4">
        <div class="well">

            <ul>
              <li>Email: <%= image_tag 'mail.png' %></li>
              <li>Twitter: <%= link_to '@Armeris', 'http://twitter.com/Armeris', :target => "_blank" %></li>
              <li>LinkedIn: <%= link_to "Rubén Salinas", 'http://linkedin.com/in/rubensalinasgarcia', :target => "_blank" %></li>
              <li>Google+: <%= link_to 'HED', 'http://gplus.to/hed', :target => "_blank" %></li>
            </ul>

        </div>
      </div>
    </div>

</div>