# MySQL.  Versions 4.1 and 5.0 are recommended.
# 
# Install the MYSQL driver
#   gem install mysql2
#
# Ensure the MySQL gem is defined in your Gemfile
#   gem 'mysql2'
#
# And be sure to use new-style password hashing:
#   http://dev.mysql.com/doc/refman/5.0/en/old-client.html
development:
  adapter: postgresql
  encoding: utf8
  reconnect: false
  database: database
  pool: 5
  username: dev_user
  password: dev_password
  host: dev_host

test: &test
  adapter: postgresql
  encoding: utf8
  reconnect: false
  database: agilesoft_test
  pool: 5
  username: test_user
  password: test_password
  host: test_host  
cucumber:
  <<: *test
