body{
	background-color : #f9f9fa;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	display: block;
	min-width:800px;
	
	h1 {
		font-size:18px;
		font-weight:bold;
		text-align:center;
		padding-top:30px;
	}
	
	header{
		background: url('/assets/header_image2.png') right no-repeat, url('/assets/header_background2.png') repeat-x;
		height: 100px;
		font-size: 3em;
		z-index: -1;
	
		div#logo{
			background: transparent url('/assets/logoagile2.png') left no-repeat;
			display: block;
			position: absolute;
			height: 100px;
			width: 450px;
			z-index: 1;
		}
	}

	nav{
		margin:0;
		padding:0;
		list-style-type:none;
		width:auto;
		position:relative;
		display:block;
		height:30px;
		font-size:14px;
		font-weight:bold;
		background:transparent url(/assets/nav_bg3.png) repeat-x top left;
		font-family:Ubuntu,Arial, Helvetica, sans-serif;
		border-bottom:1px solid #b5b5b5;
		border-top:1px solid #b5b5b5;
		
		a.button
		{
			display:block;
			float:left;
			color:#ffffff;
			text-decoration:none;
			font-weight:bold;
			font-family:Ubuntu;
			padding:8px 20px 0 20px;
		}
		
		a:hover
		{	
			color:#ffffff;
			height:22px;
			background:transparent url(/assets/nav_bg4.png) 0px -30px no-repeat;		
		}
		
		a.current
		{
			display:inline;
			height:22px;
			background:transparent url(/assets/nav_bg4.png) 0px -30px no-repeat;	
			float:left;
		}
	}
	
	article{
		padding-left: 100px;
		padding-bottom: 70px;
		font-family:'Ubuntu';
		font-size:24px;
	
		h1{
			padding-top: 30px;
			padding-left:20px;
			text-align:left;
		}
	
		section{
			padding:10px 10px 10px 10px;
			margin-top:20px;
			margin-left:20px;
			font-size:14px;
			border: 2px solid #545454;
			max-width: 700px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			-o-border-radius: 5px;
			-ms-border-radius: 5px;
			border-radius: 5px;
			line-height:1.5em;
			text-align:justify;
			background-color: #ffffff;
	
			ul{
				padding-left:20px;
				list-style:square;
			}
		}
	}
	
	#main_content{
		width:60%;
		float:left;
	
		#post{
			margin-left:30px;
			margin-top:0px;
			padding-top:30px;
			padding-left:30px;
			height:auto;
	
			#post_title{
				float:left;
				font-size:20px;
				font-weight:bold;
				font-family:Ubuntu;
				margin-bottom:15px;
				text-shadow: #dddddd 0px 2px 1px;

				a{
					text-decoration:none;
					color:black;
				}
			}
			
			#botones{
				position:relative;
				text-align:right;
				width:450px;
				float:right;
			}
			#botones a:hover{
				background-color : transparent;
			}
			
			#content{
				border:2px solid #545454;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				-o-border-radius: 5px;
				-ms-border-radius: 5px;
				border-radius: 5px;
				width:100%;
				height:auto;
				padding:10px 10px 10px 10px;
				background-color:#ffffff;
				overflow-y:auto;
				text-align:justify;
				font-family: verdana, arial, helvetica, sans-serif;
				font-size: 13px;
				line-height: 18px;
				
				h3{
					font-size:14px;
					font-weight:bold;
					font-family:Ubuntu;
				}
			}
			div#tags{
				margin-top: .25em;
				font-family:Arial;
				font-size:12px;
				color:grey;
			}
		}
		
		.comment{
			padding-left:60px;
			h3{
				font-weight:bold;
				margin-bottom:5px;
			}
			.comment_content{
				background-color:white;
				border:2px solid #545454;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				-o-border-radius: 5px;
				-ms-border-radius: 5px;
				border-radius: 5px;
				padding: 5px 5px 5px 5px;
				margin-bottom:5px;
			}
			.comment_footer{
				font-size:10px;
				text-align:right;
				margin-bottom:15px;
				
				a:hover{
					background-color:#f9f9fa;
				}
			}
		}

		#firma{
			text-align:center;
			padding-top:10px;
			padding-bottom:30px;
		}
	}
	
	div#rss{
		padding-top: 10px;
		padding-left: 50px;
		
		a:hover{
			background-color: #f9f9fa;
		}
	}

	.right_bar{
		width:35%;
		float:right;
		padding: 30px 10px 10px 10px;
		
		.right_bar_content{
			margin-bottom:20px;

			h2{
				font-size:20px;
				font-weight:bold;
				font-family:Ubuntu;
				margin-bottom:15px;
			}
			
			ul{
				margin-top:10px;
				padding-left:10px;
				padding-top:10px;
				padding-bottom:10px;
				border:2px solid #000000;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				-o-border-radius: 5px;
				-ms-border-radius: 5px;
				border-radius: 5px;
			
				li{
					width:100%;
					margin-bottom:5px;
				
					a{
						color:black;
						text-decoration:none;
						font-weight:bold;
					}
					a:hover{
						text-decoration:none;
						color:white;
						background-color:black;
						border: 1px solid black;
						-moz-border-radius: 5px;
						-webkit-border-radius: 5px;
						-o-border-radius: 5px;
						-ms-border-radius: 5px;
						border-radius: 5px;
					}
					a:visited{
						color:black;
						text-decoration:none;
					}
					a:visited:hover{
						color:white;
					}
				}
				li.current_post,li.selected{
				
					a{
						background-color:green;
						color:white;
						text-decoration:none;
						border: 1px solid green;
						-moz-border-radius: 5px;
						-webkit-border-radius: 5px;
						-o-border-radius: 5px;
						-ms-border-radius: 5px;
						border-radius: 5px;
					}
					
					a:visited{
						color:white;
					}
				}
			}
		}
	}

	div#add_comentario{
		display:none;
		position:absolute;
		width:500px;
		height:380px;
		padding-top: 10px;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
		z-index:1;
		left:30%;
		top:10%;
		background-color:#f9f9fa;
		border: 2px solid #545454;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-o-border-radius: 5px;
		-ms-border-radius: 5px;
		border-radius: 5px;

		div.boton_cerrar{
			top:-35px;
			right:-35px;
		}

		form{
			.field{
				margin-bottom: 10px;
				padding-left: 0px;
			}
		}
	}
	ul{
		li{
			a.post_title{
				font-size:20px;
				font-weight:bold;
				font-family:Ubuntu;
				margin-bottom:15px;
				text-shadow: #dddddd 0px 2px 1px;
				text-decoration:none;
				color:black;
			}
		}
	}
}

input,button{
	background:#fff;
	border:1px solid #ccc;
	border-bottom-color:#999;
	border-right-color:#999;
	color:#000;
	font:18px arial,sans-serif bold;
	margin:0;
	padding:5px 8px 0 6px;
	vertical-align:top;
	outline:none;
}

input:focus{
	box-shadow: 0 0 5px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 1); 
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 1);
}



em{
	font-size:16px;
	font-style:italic;
}

em.big{
	font-style:normal;
	font-weight:bold;
	font-size:16px;
	font-family:'Candal';
}

.boton_cerrar{
	float:right;
	position:relative;
	width:70px;
	height:70px;
	display:block;
	background: transparent url('/assets/close-button.png');
}

.boton_cerrar:hover{
	float:right;
	position:relative;
	width:70px;
	height:70px;
	display:block;
	background: transparent url('/assets/close-button2.png');
	cursor:pointer;
}

div.field, div.actions{
	padding-left:20px;
	margin-bottom: 10px;
}
textarea#blog_content{
	width:90%;
}
i{
	font-style:italic;
}
b{
	font-weight:bold;
}
.clear{
	clear:both;
}